# Ignore pycache
Solvers/__pycache__
Aspects/__pycache__
Standards/__pycache__

# Ignore old files not used anymore
EquationOfStates/plotPressure.py
EquationOfStates/PressureDensity-Alpha-Plot.*

# Ignore spyder files
.spyproject

# Ignore other files that I dont know why they are here
EquationOfStates/.idea

# Ignore files for the sun and black hole
Aspects/database/sun-Values.csv
Aspects/TOV-SingleSolve-Sun.py
Aspects/TOV-PhotonBlackHole.py

# Ignore this one where the solving routine is different
Aspects/TOV-Exponents-InitialVals-Database-CalculateOnly.py

# Ignore exponent vals plot for rel eos 
Aspects/TOV-Exponents-LESubs-InitialVals-RelEOS.py

# Ignore some of pictures namely the ones exported in .tex or .pgf files.
Aspects/pictures/*

# Ignore c++ code if not included explicitly
CPP-Code/*
